<div class="form-container">
<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field-block">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="form-field-block">
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div class="form-field-block">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-field-block">
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div class="form-field-block">
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div class="form-field-block">
    <%= form.label :credit_card, style: "display: block" %>
    <%= form.text_field :credit_card %>
  </div>

  <div class="form-field-block">
    <%= form.submit class: "styled-submit-button" %>
  </div>
<% end %>
</div>