<div id="<%= dom_id attendee %>">
  <p>
    <strong>Name:</strong>
    <%= attendee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= attendee.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= attendee.password %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= attendee.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= attendee.address %>
  </p>

  <p>
    <strong>Credit card:</strong>
    <%= attendee.credit_card %>
  </p>

</div>
