<p style="color: green"><%= notice %></p>
<h1>Attendees</h1>
<div id="attendees">
    <table class="table-style">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Profile</th>
      </tr>
      <% @attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.id %></td>
            <td><%= attendee.name %></td>
            <td><%= link_to "Show this attendee", attendee, class: 'button-style' %></td>
          </tr>
      <% end %>
    </table>
</div>
<% if current_admin %>
    <%= link_to "New attendee", new_attendee_path, class: 'button-style' %>
<% end %> <br>
<%= link_to "Home Page", root_path, class: 'button-style' %>
