<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
    <%= form_tag events_path, method: :get, id: 'events-filter-form' do %>
    <label for="filter_type">Filter Type:</label>
    <%= select_tag 'filter_type', options_for_select(['category', 'event_date', 'price']), class: 'form-control' %>

    <label for="filter_value">Filter Value:</label>
    <%= text_field_tag 'filter_value', nil, class: 'form-control' %>

    <%= submit_tag 'Apply Filter', class: 'button-style' %>

    <%= link_to 'Display All Events', events_path, class: 'button-style' %>
    <% end %>


  <table class="table-style">
    <tr>
      <th>Event ID</th>
      <th>Event Name</th>
      <th>Event Category</th>
      <th>Event Date</th>
      <th>Ticket Price</th>
      <th>No. of Seats</th>
      <th>Event Link</th>
      <th>Book a ticket</th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.event_name %></td>
        <td><%= event.event_cat %></td>
        <td><%= event.event_date %></td>
        <td>$ <%= event.ticket_price %></td>
        <td><%= event.no_of_seats %></td>
        <td><%= link_to "Show this event", event, class: 'button-style' %></td>
        <% if event.event_start_time > DateTime.now() %>
          <td><%= link_to "Sign up for this event", new_event_ticket_path(event_id: event.id), class: 'button-style'%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if current_admin %>
  <%= link_to "New event", new_event_path, class: 'button-style' %>
<% end %>

<%= link_to "Home Page", root_path, class: 'button-style' %>
