<div class="form-container">
<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field-block">
    <%= form.label :room_loc, style: "display: block" %>
    <%= form.text_field :room_loc %>
  </div>

  <div class="form-field-block">
    <%= form.label :room_cap, style: "display: block" %>
    <%= form.number_field :room_cap %>
  </div>

  <div class="form-field-block">
    <%= form.submit class: 'styled-submit-button'%>
  </div>
<% end %>
</div>