<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to "Edit this room", edit_room_path(@room), class: 'button-style' %> |
  <%= link_to "Back to rooms", rooms_path, class: 'button-style' %>

  <%= button_to "Destroy this room", @room, method: :delete, class: 'button-style' %>
</div>
