<div class="form-container">
<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <% if @review.attendee_id == current_user.id %>
    <%= link_to "Edit this review", edit_review_path(@review), class: 'button-style' %> |
  <% end %>
  <%= link_to "Back to reviews", reviews_path, class: 'button-style' %>

  <%= button_to "Destroy this review", @review, method: :delete, class: 'button-style' %>
</div>
</div>